<section class="menu">
  <div class="container">
    <h2 id="menu" class="menu-title">Меню ресторану</h2>

    <div class="menu__tables-box">
      <div class="menu__position-table-box">
        <table class="menu__table">
          <caption class="menu__caption-table">
            Гарячі страви
          </caption>

          <tbody>
            <tr>
              <td class="menu__food-name" colspan="3">
                Борщ з телятини з квасолею
              </td>
            </tr>

            <tr>
              <td class="menu__list-composition">
                Телятина, картопля, капуста, морква, цибуля, квасоля, часник,
                помідори, зелень, сметана
              </td>

              <td class="menu__food-massa">400 г</td>
              <td class="menu__food-price">240 грн</td>
            </tr>

            <tr>
              <td class="menu__food-name" colspan="3">Суп сирний з куркою</td>
            </tr>

            <tr>
              <td class="menu__list-composition">
                Курятина, картопля, морква, цибуля, печериці, сир м’який, зелень
              </td>

              <td class="menu__food-massa">400 г</td>
              <td class="menu__food-price">200 грн</td>
            </tr>

            <tr>
              <td class="menu__food-name" colspan="3">Паста карбонара</td>
            </tr>

            <tr>
              <td class="menu__list-composition">
                Паста тальятеле, бекон, вершки, сир пармезан, яйце, зелень
              </td>

              <td class="menu__food-massa">350 г</td>
              <td class="menu__food-price">430 грн</td>
            </tr>

            <tr>
              <td class="menu__food-name" colspan="3">Стейк зі свинини</td>
            </tr>

            <tr>
              <td class="menu__list-composition">
                Свиняча вирізка, спеціі, подається з соусом солодкий чилі та
                овочами
              </td>

              <td class="menu__food-massa">400 г</td>
              <td class="menu__food-price">500 грн</td>
            </tr>

            <tr>
              <td class="menu__food-name" colspan="3">
                Горбуша в соусі з білого вина
              </td>
            </tr>

            <tr>
              <td class="menu__list-composition">
                Ніжна горбуша, вершковий соус на основі білого вина
              </td>

              <td class="menu__food-massa">400 г</td>
              <td class="menu__food-price">400 грн</td>
            </tr>
          </tbody>
        </table>

        <table class="menu__table">
          <caption class="menu__caption-table">
            Гарніри та закуски
          </caption>

          <tr>
            <td class="menu__food-name" colspan="3">Запечені овочі</td>
          </tr>

          <tr>
            <td class="menu__list-composition">
              Кабачок, перець, помідор, баклажан
            </td>
            <td class="menu__food-massa">200 г</td>
            <td class="menu__food-price">230 грн</td>
          </tr>

          <tr>
            <td class="menu__food-name" colspan="3">Картопля фрі</td>
          </tr>

          <tr>
            <td class="menu__list-composition">Картопля, соус томатний</td>
            <td class="menu__food-massa">150 г</td>
            <td class="menu__food-price">160 грн</td>
          </tr>

          <tr>
            <td class="menu__food-name" colspan="3">Картопля по-селянськи</td>
          </tr>

          <tr>
            <td class="menu__list-composition">
              Картопля, спеції, соус пікантний
            </td>
            <td class="menu__food-massa">150 г</td>
            <td class="menu__food-price">160 грн</td>
          </tr>

          <tr>
            <td class="menu__food-name" colspan="3">Хрумкі соління з бочки</td>
          </tr>
          <tr>
            <td class="menu__list-composition">
              Огірок солений, помідор квашений, квашена капуста, морква
              по-корейські
            </td>

            <td class="menu__food-massa">250 г</td>
            <td class="menu__food-price">350 грн</td>
          </tr>

          <tr>
            <td class="menu__food-name" colspan="3">
              Крильця курячі в медовому соусі
            </td>
          </tr>

          <tr>
            <td class="menu__list-composition">
              Крильця курячі, гірчично-медовий соус, подається з морквою,
              селерою і соусом блючиз
            </td>

            <td class="menu__food-massa">400 г</td>
            <td class="menu__food-price">420 грн</td>
          </tr>
        </table>
      </div>

      <div class="menu__position-table-box">
        <table class="menu__table">
          <caption class="menu__caption-table">
            Салати
          </caption>

          <tr>
            <td class="menu__food-name" colspan="3">Цезар з куркою</td>
          </tr>

          <tr>
            <td class="menu__list-composition">
              Куряче філе, листя салату, помідори чері, сир пармезан, грінки,
              соус цезар
            </td>

            <td class="menu__food-massa">230 г</td>
            <td class="menu__food-price">450 грн</td>
          </tr>

          <tr>
            <td class="menu__food-name" colspan="3">Цезар з креветками</td>
          </tr>

          <tr>
            <td class="menu__list-composition">
              Тигрові креветки, листя салату, помідори чері, сир пармезан,
              грінки, соус цезар
            </td>

            <td class="menu__food-massa">230 г</td>
            <td class="menu__food-price">300 грн</td>
          </tr>

          <tr>
            <td class="menu__food-name" colspan="3">Грецький салат</td>
          </tr>

          <tr>
            <td class="menu__list-composition">
              Свіжі огірок, помідор, болгарський перець, оливки, сир бринза,
              листя салату, соус
            </td>

            <td class="menu__food-massa">230 г</td>
            <td class="menu__food-price">280 грн</td>
          </tr>

          <tr>
            <td class="menu__food-name" colspan="3">М'ясний салат</td>
          </tr>

          <tr>
            <td class="menu__list-composition">
              Куряче філе або свиняча вирізка, свіжі огірок, помідор,
              болгарський перець, соус ранч
            </td>

            <td class="menu__food-massa">230 г</td>
            <td class="menu__food-price">300 грн</td>
          </tr>
        </table>

        <table class="menu__table">
          <caption class="menu__caption-table">
            Десерти
          </caption>

          <tbody>
            <tr>
              <td class="menu__food-name">Торт наполеон</td>
              <td class="menu__food-massa">230 г</td>
              <td class="menu__food-price">300 грн</td>
            </tr>

            <tr>
              <td class="menu__food-name">Торт маковий</td>
              <td class="menu__food-massa">230 г</td>
              <td class="menu__food-price">300 грн</td>
            </tr>

            <tr>
              <td class="menu__food-name">Тірамісу</td>
              <td class="menu__food-massa">120 г</td>
              <td class="menu__food-price">260 грн</td>
            </tr>
          </tbody>
        </table>

        <table class="menu__table">
          <caption class="menu__caption-table">
            Напої
          </caption>

          <tbody>
            <tr>
              <td class="menu__food-name">Чай чорний/зелений</td>
              <td class="menu__food-massa">500 мл</td>
              <td class="menu__food-price">100 грн</td>
            </tr>

            <tr>
              <td class="menu__food-name">Еспресо</td>
              <td class="menu__food-massa">30 мл</td>
              <td class="menu__food-price">100 грн</td>
            </tr>

            <tr>
              <td class="menu__food-name">Американо</td>
              <td class="menu__food-massa">150 мл</td>
              <td class="menu__food-price">100 грн</td>
            </tr>

            <tr>
              <td class="menu__food-name">Капучино</td>
              <td class="menu__food-massa">200 мл</td>
              <td class="menu__food-price">160 грн</td>
            </tr>

            <tr>
              <td class="menu__food-name">Лате</td>
              <td class="menu__food-massa">200 мл</td>
              <td class="menu__food-price">160 грн</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <button class="secondary-button" type="button" data-modal-open-table>
      Забронювати столик
    </button>
  </div>
</section>
