//BACE
@import "./bace/vars";
@import "./bace/container";
@import "./bace/base";
@import "./bace/fonts";
@import "./bace/logo";
@import "./bace/location";
@import "./bace/buttons";
@import "./bace/social";
@import "./bace/hiro-bg";
@import "./bace/section-phrase";

//MODAL WINDOWS
@import "./modal-window/price.scss";
@import "./modal-window/Reservation-number.scss";
@import "./modal-window/Reservation-table.scss";

//GENERAL SECTIONS
@import "./general-sections/header";
@import "./general-sections/hero";
@import "./general-sections/footer";

//INDEX
@import "./index/about-rest";
@import "./index/details-rest";
@import "./index/about-hotel";
@import "./index/details-hotel";
@import "./index/contact-information";

//RESTAURANT
@import "./restaurant/about-kitchen";
@import "./restaurant/menu";

//ROOM
@import "./room/amenities";
@import "./room/room-hero";

//HOTEL
@import "./hotel/1-room-luxe-2-adult";
@import "./hotel/1-room-3-adult";
@import "./hotel/1-room-2-adult";

//MODERN-NORMALIZE
@import "~node_modules/modern-normalize/modern-normalize.css";
