<section class="about-rest">
  <div class="container">
    <div>
      <h2 class="section-phrase">Amet minim mollit non</h2>

      <h1 class="section-logo">Mimiho</h1>

      <p class="about-rest__text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>

      <picture>
        <source
          media="(min-width: 1280px)"
          srcset="
            /src/images/main/main_about_rest/main_about_rest_desk_1_460_1x.jpg 1x,
            /src/images/main/main_about_rest/main_about_rest_desk_1_460_2x.jpg 2x
          "
          type="image/jpg"
        />

        <source
          media="(min-width: 1024px)"
          srcset="
            /src/images/main/main_about_rest/main_about_rest_tab_1_400_1x.jpg 1x,
            /src/images/main/main_about_rest/main_about_rest_tab_1_400_2x.jpg 2x
          "
          type="image/jpg"
        />

        <img
          class="about-rest__first-img"
          srcset="
            /src/images/main/main_about_rest/main_about_rest_mob_1_244_1x.jpg 1x,
            /src/images/main/main_about_rest/main_about_rest_mob_1_244_2x.jpg 2x
          "
          alt="Restaurant interior"
          width="244"
          height="322"
          loading="lazy"
        />
      </picture>
    </div>

    <div class="about-rest__position-box">
      <picture>
        <source
          media="(min-width: 1280px)"
          srcset="
            /src/images/main/main_about_rest/main_about_rest_desk_2_460_1x.jpg 1x,
            /src/images/main/main_about_rest/main_about_rest_desk_2_460_2x.jpg 2x
          "
          type="image/jpg"
        />

        <source
          media="(min-width: 1024px)"
          srcset="
            /src/images/main/main_about_rest/main_about_rest_tab_2_350_1x.jpg 1x,
            /src/images/main/main_about_rest/main_about_rest_tab_2_350_2x.jpg 2x
          "
          type="image/jpg"
        />

        <img
          class="about-rest__second-img"
          srcset="
            /src/images/main/main_about_rest/main_about_rest_mob_2_200_1x.jpg 1x,
            /src/images/main/main_about_rest/main_about_rest_mob_2_200_2x.jpg 2x
          "
          alt="Restaurant interior light"
          width="200"
          height="278"
          loading="lazy"
        />
      </picture>

      <p class="about-rest__second-img-text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
    </div>

    <div class="swiper swiper-right" data-slider="swiper-right">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img
            srcset="
              /src/images/main/main_about_rest/main_about_rest_mob_3_245_1x.jpg 1x,
              /src/images/main/main_about_rest/main_about_rest_mob_3_245_2x.jpg 2x
            "
            alt="food"
          />
        </div>

        <div class="swiper-slide">
          <img
            srcset="
              /src/images/slider/slider_desk_6_254_1x.jpg 1x,
              /src/images/slider/slider_desk_6_254_2x.jpg 2x
            "
            alt="food"
          />
        </div>

        <div class="swiper-slide">
          <img
            srcset="
              /src/images/slider/slider_desk_7_254_1x.jpg 1x,
              /src/images/slider/slider_desk_7_254_2x.jpg 2x
            "
            alt="food"
          />
        </div>

        <div class="swiper-slide">
          <img
            srcset="
              /src/images/main/main_about_rest/main_about_rest_mob_3_245_1x.jpg 1x,
              /src/images/main/main_about_rest/main_about_rest_mob_3_245_2x.jpg 2x
            "
            alt="food"
          />
        </div>

        <div class="swiper-slide">
          <img
            srcset="
              /src/images/slider/slider_desk_6_254_1x.jpg 1x,
              /src/images/slider/slider_desk_6_254_2x.jpg 2x
            "
            alt="food"
          />
        </div>

        <div class="swiper-slide">
          <img
            srcset="
              /src/images/slider/slider_desk_7_254_1x.jpg 1x,
              /src/images/slider/slider_desk_7_254_2x.jpg 2x
            "
            alt="food"
          />
        </div>

        <div class="swiper-slide">
          <img
            srcset="
              /src/images/main/main_about_rest/main_about_rest_mob_3_245_1x.jpg 1x,
              /src/images/main/main_about_rest/main_about_rest_mob_3_245_2x.jpg 2x
            "
            alt="food"
          />
        </div>

        <div class="swiper-slide">
          <img
            srcset="
              /src/images/slider/slider_desk_6_254_1x.jpg 1x,
              /src/images/slider/slider_desk_6_254_2x.jpg 2x
            "
            alt="food"
          />
        </div>

        <div class="swiper-slide">
          <img
            srcset="
              /src/images/slider/slider_desk_7_254_1x.jpg 1x,
              /src/images/slider/slider_desk_7_254_2x.jpg 2x
            "
            alt="food"
          />
        </div>
      </div>

      <ul class="swiper-right__buttons-list">
        <button class="swiper-buttons swiper-button-left" type="button">
          <svg class="swiper-right__button-icon" width="30" height="30">
            <use href="./images/icons.svg#icon-arrow-left"></use>
          </svg>
        </button>
        <button class="swiper-buttons swiper-button-right" type="button">
          <svg class="swiper-right__button-icon" width="30" height="30">
            <use href="./images/icons.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </ul>
    </div>
  </div>
</section>
