<section class="contact-information">
  <div class="container">
    <h2 class="section-logo" lang="en">mimiho</h2>

    <p class="contact-information__title">Ресторанно-готельний комплекс</p>

    <div class="contact-information__rest">
      <span class="contact-information__rest-text">Ресторан</span>

      <div class="contact-information__rest-call">
        <svg class="contact-information__rest-icon" width="24px" height="24px">
          <use href="./images/icons.svg#icon-phone"></use>
        </svg>

        <a class="contact-information__rest-tel" href="tel:0955559533"
          >095 555 95 33</a
        >
      </div>
    </div>

    <div class="contact-information__hotel">
      <span class="contact-information__hotel-text">Готель</span>

      <div class="contact-information__hotel-call">
        <svg class="contact-information__hotel-icon" width="24px" height="24px">
          <use href="./images/icons.svg#icon-phone"></use>
        </svg>

        <a class="contact-information__hotel-tel" href="tel:0668491089"
          >066 849 10 89</a
        >
        <a class="contact-information__hotel-tel" href="tel:0672758540"
          >067 275 85 40</a
        >
      </div>
    </div>

    <a
      class="contact-information__location"
      href="https://goo.gl/maps/NvVK58mMgfZsAu4W6"
    >
      <svg
        class="contact-information__location-icon"
        width="24px"
        height="24px"
      >
        <use href="./images/icons.svg#icon-location"></use>
      </svg>
      <p class="contact-information__location-text">
        Україна, м. Полтава, вул. Маршала Бірюзова, 15
      </p>
    </a>

    <iframe
      class="contact-information__map"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2585.9152348162875!2d34.52653015385272!3d49.59934791827057!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d82601f34ac947%3A0xbb948724f7cf0b61!2z0JPQvtGC0LXQu9GM0L3Qvi3RgNC10YHRgtC-0YDQsNC90L3QuNC5INC60L7QvNC_0LvQtdC60YEgItCc0ZbQvNGW0L3QviI!5e0!3m2!1suk!2sdk!4v1674856176158!5m2!1suk!2sdk"
      width="384"
      height="220"
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
  </div>
</section>
