<section class="hero index-hero">
  <div class="container">
    <a
      class="locations"
      href="https://goo.gl/maps/DMQrhpzzaZMDhR757"
      rel="noreferrer noopener"
    >
      <svg class="location-icon" width="20" height="20">
        <use href="./images/icons.svg#icon-location"></use>
      </svg>

      <p class="location-text">
        Україна, м. Полтава, <br />
        вул. Маршала Бірюзова, 15
      </p>
    </a>

    <h1 class="hero-logo" lang="en">mimiho</h1>

    <p class="hero-subtitle">Ресторанно-готельний комплекс</p>

    <h2 class="hero-title">Смак життя 24/7</h2>

    <ul class="primary-buttons">
      <li class="primary-buttons__item">
        <button class="primary-button" type="button" data-modal-open-table>
          Забронювати столик
        </button>
      </li>

      <li class="primary-buttons__item">
        <button class="primary-button" type="button" data-modal-open-room>
          Забронювати номер
        </button>
      </li>
    </ul>

    <ul class="social">
      <li>
        <a href="https://www.instagram.com/">
          <svg class="social-icon" width="24" height="24">
            <use href="./images/icons.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>

      <li>
        <a href="https://www.facebook.com/">
          <svg class="social-icon" width="24" height="24">
            <use href="./images/icons.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>

      <li>
        <a href="https://web.telegram.org/">
          <svg class="social-icon" width="24" height="24">
            <use href="./images/icons.svg#icon-telegram"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>
