.price-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 100;

  visibility: visible;
  opacity: 1;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity var(--modal-animation), visibility var(--modal-animation);

  &.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }
}

.price {
  padding: 45px 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 414px;
  width: 100%;
  background-color: var(--primary-bg-color);
  border-radius: 2px;
  transform: translate(-50%, -50%);
  border: 1px solid var(--accent-color);
  border-radius: 2px;

  .modal-window__buttons {
    margin-top: 25px;
  }
}

.price__btn-close {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 16px;
  right: 16px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.price__icon-close {
  stroke: #000000;
  transition: stroke var(--animation);

  &:hover,
  &:focus {
    stroke: var(--accent-color);
  }
}

.price-form__title {
  margin-bottom: 30px;

  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
}

.price-form__box {
  margin-bottom: 25px;
}

.price-form__label {
  margin-bottom: 5px;

  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  color: var(--accent-color);
}

.position-box {
  position: relative;
}

.price-form__input {
  padding-left: 12px;

  width: 100%;
  height: 54px;
  border: 1px solid var(--accent-color);
  font-size: 18px;
  letter-spacing: 0.05em;
  appearance: none;

  &:hover + .price-form__input-icon,
  &:focus + .price-form__input-icon {
    top: 60%;
  }
}

.price-form__input-icon {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 50%;
  right: 10px;
  transform: translate(0, -50%);
  pointer-events: none;
  fill: var(--accent-color);

  transition: top var(--animation);
}

.price-form__price {
  padding-left: 15px;
  padding-right: 15px;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 30px;

  border-radius: 10px;
  border: 1px solid var(--accent-color);
  background-color: #ffffff;
  font-weight: 700;
  letter-spacing: 0.05em;
}
