.table-modal__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  opacity: 1;
  visibility: visible;
  background-color: rgba(46, 47, 66, 0.4);
  z-index: 100;

  transition: opacity var(--modal-animation), visibility var(--modal-animation);

  &.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }
}

.table-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  max-width: 414px;
  width: 100%;
  padding: 45px 15px;

  background-color: var(--primary-bg-color);
  border-radius: 2px;
  border: 1px solid var(--accent-color);
  border-radius: 2px;
}

.table-modal__close-btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 16px;
  right: 16px;
  background: none;
}

.table-modal__close-btn-icon {
  width: 24px;
  height: 24px;
  stroke: #000000;
  transition: stroke var(--animation);

  &:hover,
  &:focus {
    stroke: var(--accent-color);
  }
}

.table-modal__title {
  margin-bottom: 30px;

  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: center;
}

.table-modal__form-item {
  margin-bottom: 25px;
}

.table-modal__position-icon-box {
  position: relative;
}

.table-modal__form-input {
  padding-left: 12px;
  width: 100%;
  height: 54px;
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.05em;
  cursor: text;

  appearance: none;
  border: 1px solid var(--accent-color);

  &:hover + .table-modal__form-icon,
  &:focus + .table-modal__form-icon {
    top: 60%;
  }
}

.table-modal__form-input-option {
  cursor: pointer;
}

.table-modal__form-field {
  display: block;
  margin-bottom: 5px;

  font-weight: 500;
  line-height: 1.2;
  font-size: 14px;
  color: var(--accent-color);
}

.table-modal__form-icon {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 50%;
  right: 10px;
  transform: translate(0, -50%);
  pointer-events: none;
  fill: var(--accent-color);

  transition: top var(--animation);
}
