<footer class="footer">
  <div class="container">
    <div class="footer__logo logo">
      <a href="./index.html"><h2 class="footer-title" lang="en">mimiho</h2></a>
    </div>

    <nav class="footer__nav">
      <ul class="footer__nav-list">
        <li>
          <a class="footer__nav-link" href="./index.html">Головна</a>
        </li>
        <li>
          <a class="footer__nav-link" href="./restaurant.html">Ресторан</a>
        </li>
        <li>
          <a class="footer__nav-link" href="./hotel.html">Готель</a>
        </li>
      </ul>
    </nav>

    <div class="footer__social">
      <ul class="footer__social-list">
        <li>
          <a
            class="footer__social-link"
            href="https://web.telegram.org/k/"
            target="_blank"
            ><span class="footer__social-name">Telegram</span>
            <svg class="footer__social-icon" width="22px" height="22px">
              <use href="./images/icons.svg#icon-telegram"></use>
            </svg>
          </a>
        </li>

        <li>
          <a
            class="footer__social-link"
            href="https://www.facebook.com/"
            target="_blank"
            ><span class="footer__social-name">Facebook</span>
            <svg class="footer__social-icon" width="20px" height="20px">
              <use href="./images/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>

        <li>
          <a
            class="footer__social-link"
            href="https://www.instagram.com/"
            target="_blank"
            ><span class="footer__social-name">Instagram</span>
            <svg class="footer__social-icon" width="20px" height="20px">
              <use href="./images/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
