.section-phrase {
  width: 197px;
  margin-bottom: 10px;

  font-family: var(--secondary-font);
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  color: var(--section-phrase-color);
}

@media screen and (min-width: 1024px) {
  .section-phrase {
    width: 310px;
    margin-bottom: 5px;

    font-size: 32px;
  }
}
