:root {
  --logo-font: "FilmP3", sans-serif;
  --primary-font: "Montserrat", sans-serif;
  --secondary-font: "TimesNewRoman", serif;

  --accent-color: #f3c653;

  --primary-bg-color: #fffdee;
  --secondary-bg-color: #f0ecd6;
  --bg-color-dark: #0e0c07;

  --accent-text-color: #c79002;
  --text-color-white: #ffffff;
  --text-color-dark: #000000;
  --primary-text-color: #7a7a7a;
  --secondary-text-color: #5f5f5f;

  --primary-logo-color: #494848;
  --modal-window-text-color: #808080;
  --section-phrase-color: #b4b4b4;
  --location-text-color: #e5e5e5;

  --animation: 200ms cubic-bezier(0.4, 0, 0.2, 1);
}
