<section class="hero room-hero">
  <div class="shadou"></div>

  <div class="" data-slider="room-hero__slider">
    <div class="swiper room-hero__slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <picture>
            <source
              srcset="
                /src/images/room/room_hero/room_hero_desk_1280_1x.jpg 1x,
                /src/images/room/room_hero/room_hero_desk_1280_2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />

            <source
              srcset="
                /src/images/room/room_hero/room_hero_tab_1024_1x.jpg 1x,
                /src/images/room/room_hero/room_hero_tab_1024_2x.jpg 2x
              "
              media="(min-width: 1024px)"
            />

            <img
              srcset="
                /src/images/room/room_hero/room_hero_mob_414_1x.jpg 1x,
                /src/images/room/room_hero/room_hero_mob_414_2x.jpg 2x
              "
              alt="foto hall"
              loading="lazy"
            />
          </picture>
        </div>

        <div class="swiper-slide">
          <picture>
            <source
              srcset="
                /src/images/slider__room-hiro/slider_room_desk_1_1280_1x.jpg 1x,
                /src/images/slider__room-hiro/slider_room_desk_1_1280_2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />

            <source
              srcset="
                /src/images/slider__room-hiro/slider_room_tab_1_1024_1x.jpg 1x,
                /src/images/slider__room-hiro/slider_room_tab_1_1024_2x.jpg 2x
              "
              media="(min-width: 1024px)"
            />

            <img
              srcset="
                /src/images/slider__room-hiro/slider_room_mob_1_414_1x.jpg 1x,
                /src/images/slider__room-hiro/slider_room_mob_1_414_2x.jpg 2x
              "
              alt="foto hall"
              loading="lazy"
            />
          </picture>
        </div>

        <div class="swiper-slide">
          <picture>
            <source
              srcset="
                /src/images/slider__room-hiro/slider_room_desk_2_1280_1x.jpg 1x,
                /src/images/slider__room-hiro/slider_room_desk_2_1280_2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />

            <source
              srcset="
                /src/images/slider__room-hiro/slider_room_tab_2_1024_1x.jpg 1x,
                /src/images/slider__room-hiro/slider_room_tab_2_1024_2x.jpg 2x
              "
              media="(min-width: 1024px)"
            />

            <img
              srcset="
                /src/images/slider__room-hiro/slider_room_mob_2_414_1x.jpg 1x,
                /src/images/slider__room-hiro/slider_room_mob_2_414_2x.jpg 2x
              "
              alt="foto hall"
              loading="lazy"
            />
          </picture>
        </div>
      </div>
    </div>

    <ul class="room-hero__slider-buttons-list">
      <button class="swiper-buttons swiper-button-left" type="button">
        <svg class="room-hero__slider-button-icon" width="30" height="30">
          <use href="./images/icons.svg#icon-arrow-left"></use>
        </svg>
      </button>
      <button class="swiper-buttons swiper-button-right" type="button">
        <svg class="room-hero__slider-button-icon" width="30" height="30">
          <use href="./images/icons.svg#icon-arrow-right"></use>
        </svg>
      </button>
    </ul>
  </div>

  <div class="container">
    <a
      class="locations"
      href="https://goo.gl/maps/DMQrhpzzaZMDhR757"
      rel="noreferrer noopener"
    >
      <svg class="location-icon" width="20" height="20">
        <use href="./images/icons.svg#icon-location"></use>
      </svg>

      <p class="location-text">
        Україна, м. Полтава, <br />
        вул. Маршала Бірюзова, 15
      </p>
    </a>

    <div class="room-hero__location-info">
      <h1 class="room-hero__title">
        Двомісний номер <span class="room-hero__title-word">люкс</span>
      </h1>

      <p class="room-hero__text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
    </div>

    <div class="primary-buttons">
      <button type="button" class="primary-button" data-modal-open-price>
        Переглянути ціни
      </button>
    </div>

    <ul class="social">
      <li>
        <a href="https://www.instagram.com/">
          <svg class="social-icon" width="24" height="24">
            <use href="./images/icons.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>

      <li>
        <a href="https://www.facebook.com/">
          <svg class="social-icon" width="24" height="24">
            <use href="./images/icons.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>

      <li>
        <a href="https://web.telegram.org/">
          <svg class="social-icon" width="24" height="24">
            <use href="./images/icons.svg#icon-telegram"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>
