<section class="room">
  <div class="container">
    <h2 class="room-title">Зручності у номері</h2>
    <p class="room-text">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>

    <ul class="room-list">
      <li>
        <h3 class="room-list__title">Загальні</h3>

        <div class="room-list__text-flex">
          <p class="room-list__first-text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>

          <p class="room-list__second-text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
        </div>
      </li>

      <li>
        <h3 class="room-list__title">Ванна кімната</h3>

        <div class="room-list__text-flex">
          <p class="room-list__first-text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>

          <p class="room-list__second-text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
        </div>
      </li>

      <li>
        <h3 class="room-list__title">Спальня</h3>

        <p class="room-list__first-text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint.
        </p>
      </li>

      <li>
        <h3 class="room-list__title">Кухня</h3>

        <div class="room-list__text-flex">
          <p class="room-list__first-text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint.
          </p>

          <p class="room-list__second-text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint.
          </p>
        </div>
      </li>

      <li>
        <h3 class="room-list__title">Медіа</h3>
        <p class="room-list__first-text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit.
        </p>
      </li>
    </ul>

    <div class="room-navigation">
      <button class="secondary-button" type="button" data-modal-open-room>
        Оформити бронювання
      </button>

      <a class="room-navigation__link" href="/src/hotel.html"
        >Повернутися до перегляду номерів
        <svg class="room-navigation__link-icon" width="24" height="24">
          <use href="/src/images/icons.svg#icon-arrow-right"></use>
        </svg>
      </a>
    </div>
  </div>
</section>
