<section class="hotel__double-room">
  <div class="container">
    <p class="section-phrase">Amet minim mollit non</p>
    <p class="section-logo">Mimiho</p>

    <h2 class="hotel-title">Двомісний номер</h2>

    <p class="hotel-text">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>

    <picture class="hotel-img">
      <source
        media="(min-width: 1280px)"
        srcset="
          /src/images/hotel/hotel_room/hotel_room_desk_1_460_1x.jpg 1x,
          /src/images/hotel/hotel_room/hotel_room_desk_1_460_2x.jpg 2x
        "
      />

      <source
        media="(min-width: 1024px)"
        srcset="
          /src/images/hotel/hotel_room/hotel_room_tab_1_400_1x.jpg 1x,
          /src/images/hotel/hotel_room/hotel_room_tab_1_400_2x.jpg 2x
        "
      />

      <source
        media="(min-width: 414px)"
        srcset="
          /src/images/hotel/hotel_room/hotel_room_mob_1_244_1x.jpg 1x,
          /src/images/hotel/hotel_room/hotel_room_mob_1_244_2x.jpg 2x
        "
      />

      <img
        src="/src/images/hotel/hotel_room/hotel_room_mob_1_244_1x.jpg"
        alt="foto room"
        class=""
      />
    </picture>

    <ul class="secondary-buttons">
      <li class="secondary-buttons__item">
        <a href="/src/room.html"
          ><button class="secondary-button">Детальніше</button></a
        >
      </li>
      <li class="secondary-buttons__item">
        <button class="secondary-button" type="button" data-modal-open-price>
          Переглянути ціни
        </button>
      </li>
    </ul>

    <div
      dir="rtl"
      class="swiper swiper-left swiper-hotel-left"
      data-slider="swiper-left"
    >
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img
            srcset="
              /src/images/hotel/hotel_room/hotel_room_desk_2_254_1x.jpg 1x,
              /src/images/hotel/hotel_room/hotel_room_desk_2_254_2x.jpg 2x
            "
            alt="food"
            loading="lazy"
          />
        </div>

        <div class="swiper-slide">
          <img
            srcset="
              /src/images/hotel/hotel_room/hotel_room_desk_3_254_1x.jpg 1x,
              /src/images/hotel/hotel_room/hotel_room_desk_3_254_2x.jpg 2x
            "
            alt="food"
            loading="lazy"
          />
        </div>

        <div class="swiper-slide">
          <img
            srcset="
              /src/images/slider/slider_desk_1_254_1x.jpg 1x,
              /src/images/slider/slider_desk_1_254_2x.jpg 2x
            "
            alt="food"
            loading="lazy"
          />
        </div>

        <div class="swiper-slide">
          <img
            srcset="
              /src/images/hotel/hotel_room/hotel_room_desk_2_254_1x.jpg 1x,
              /src/images/hotel/hotel_room/hotel_room_desk_2_254_2x.jpg 2x
            "
            alt="food"
            loading="lazy"
          />
        </div>

        <div class="swiper-slide">
          <img
            srcset="
              /src/images/hotel/hotel_room/hotel_room_desk_3_254_1x.jpg 1x,
              /src/images/hotel/hotel_room/hotel_room_desk_3_254_2x.jpg 2x
            "
            alt="food"
            loading="lazy"
          />
        </div>

        <div class="swiper-slide">
          <img
            srcset="
              /src/images/slider/slider_desk_1_254_1x.jpg 1x,
              /src/images/slider/slider_desk_1_254_2x.jpg 2x
            "
            alt="food"
            loading="lazy"
          />
        </div>

        <div class="swiper-slide">
          <img
            srcset="
              /src/images/hotel/hotel_room/hotel_room_desk_2_254_1x.jpg 1x,
              /src/images/hotel/hotel_room/hotel_room_desk_2_254_2x.jpg 2x
            "
            alt="food"
            loading="lazy"
          />
        </div>

        <div class="swiper-slide">
          <img
            srcset="
              /src/images/hotel/hotel_room/hotel_room_desk_3_254_1x.jpg 1x,
              /src/images/hotel/hotel_room/hotel_room_desk_3_254_2x.jpg 2x
            "
            alt="food"
            loading="lazy"
          />
        </div>

        <div class="swiper-slide">
          <img
            srcset="
              /src/images/slider/slider_desk_1_254_1x.jpg 1x,
              /src/images/slider/slider_desk_1_254_2x.jpg 2x
            "
            alt="food"
            loading="lazy"
          />
        </div>
      </div>

      <ul class="swiper-left__buttons-list">
        <button class="swiper-buttons swiper-button-left" type="button">
          <svg class="swiper-left__button-icon" width="30" height="30">
            <use href="./images/icons.svg#icon-arrow-left"></use>
          </svg>
        </button>
        <button class="swiper-buttons swiper-button-right" type="button">
          <svg class="swiper-left__button-icon" width="30" height="30">
            <use href="./images/icons.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </ul>
    </div>
  </div>
</section>
