<section class="hotel__double-room">
  <div class="container">
    <p class="section-phrase">Amet minim mollit non</p>
    <p class="section-logo">Mimiho</p>

    <h2 class="hotel-title">
      Двомісний номер <span class="hotel-title__item">люкс</span>
    </h2>

    <p class="hotel-text">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>

    <picture class="hotel-img">
      <source
        media="(min-width: 1280px)"
        srcset="
          /src/images/hotel/hotel_room/hotel_room_desk_1_460_1x.jpg 1x,
          /src/images/hotel/hotel_room/hotel_room_desk_1_460_2x.jpg 2x
        "
      />

      <source
        media="(min-width: 1024px)"
        srcset="
          /src/images/hotel/hotel_room/hotel_room_tab_1_400_1x.jpg 1x,
          /src/images/hotel/hotel_room/hotel_room_tab_1_400_2x.jpg 2x
        "
      />

      <source
        media="(min-width: 414px)"
        srcset="
          /src/images/hotel/hotel_room/hotel_room_mob_1_244_1x.jpg 1x,
          /src/images/hotel/hotel_room/hotel_room_mob_1_244_2x.jpg 2x
        "
      />

      <img
        src="/src/images/hotel/hotel_room/hotel_room_mob_1_244_1x.jpg"
        alt="foto room"
        loading="lazy"
      />
    </picture>

    <ul class="secondary-buttons">
      <li class="secondary-buttons__item">
        <a href="/src/room.html"
          ><button class="secondary-button">Детальніше</button></a
        >
      </li>
      <li class="secondary-buttons__item">
        <button class="secondary-button" type="button" data-modal-open-price>
          Переглянути ціни
        </button>
      </li>
    </ul>

    <img
      srcset="
        /src/images/slider__room-hiro/slider_room_mob_1_414_1x.jpg 1x,
        /src/images/slider__room-hiro/slider_room_mob_1_414_2x.jpg 2x
      "
      alt="foto room"
      class="hotel__last-img"
      loading="lazy"
    />
  </div>
</section>
