.about-rest {
  .container {
    height: 1191px;
    padding-top: 15px;
    position: relative;
  }
}

.about-rest__text {
  margin-top: 12px;
  width: 258px;

  font-size: 12px;
  color: var(--secondary-text-color);
}

.about-rest__first-img {
  position: absolute;
  right: 15px;
  top: 210px;

  box-shadow: 5px 5px 70px 17px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
}

.about-rest__position-box {
  position: absolute;
  left: 15px;
  top: 564px;

  display: flex;
  column-gap: 20px;
  align-items: center;
}

.about-rest__second-img {
  box-shadow: 5px 5px 70px 17px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
}

.about-rest__second-img-text {
  width: 163px;
  font-size: 12px;

  color: var(--accent-text-color);
}

@media screen and (min-width: 1024px) {
  .about-rest {
    .container {
      height: 1238px;
      padding-top: 120px;
    }
  }

  .about-rest__text {
    font-size: 16px;
    margin-top: 24px;
    width: 439px;
  }

  .about-rest__first-img {
    width: 400px;
    height: 524px;

    top: -30px;
    right: 112px;
  }

  .about-rest__position-box {
    column-gap: 48px;

    left: 47px;
    top: 476px;
  }

  .about-rest__second-img {
    width: 350px;
    height: 500px;
  }

  .about-rest__second-img-text {
    font-size: 16px;

    width: 312px;
  }
}

@media screen and (min-width: 1280px) {
  .about-rest {
    .container {
      height: 1275px;
    }
  }

  .about-rest__text {
    width: 518px;
  }

  .about-rest__first-img {
    width: 460px;
    height: 574px;
    right: 180px;
  }

  .about-rest__position-box {
    column-gap: 32px;
    left: 85px;
  }

  .about-rest__second-img {
    width: 460px;
    height: 574px;
  }

  .about-rest__second-img-text {
    margin-bottom: 119px;
  }
}
