.about-hotel {
  .container {
    height: 1191px;
    padding-top: 15px;
    position: relative;
  }

  .section-phrase {
    margin-left: auto;
  }

  .section-logo {
    margin-left: auto;
  }
}

.about-hotel__text {
  margin-left: auto;
  margin-top: 12px;
  width: 246px;

  font-size: 12px;
  color: var(--secondary-text-color);
}

.about-hotel__first-img {
  position: absolute;
  left: 15px;
  top: 210px;

  box-shadow: 5px 5px 70px 17px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
}

.about-hotel__position-box {
  position: absolute;
  top: 564px;
  right: 15px;

  display: flex;
  column-gap: 20px;
  align-items: center;
}

.about-hotel__second-img {
  box-shadow: 5px 5px 70px 17px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
}

.about-hotel__second-img-text {
  max-width: 163px;
  font-size: 12px;

  color: var(--accent-text-color);
}

@media screen and (min-width: 1024px) {
  .about-hotel {
    .container {
      height: 1238px;
      padding-top: 120px;
    }
  }

  .about-hotel__text {
    font-size: 16px;
    margin-top: 24px;
    width: 416px;
  }

  .about-hotel__first-img {
    width: 400px;
    height: 524px;

    top: -30px;
    left: 112px;
  }

  .about-hotel__position-box {
    column-gap: 48px;

    right: 47px;
    top: 476px;
  }

  .about-hotel__second-img {
    width: 350px;
    height: 500px;
  }

  .about-hotel__second-img-text {
    font-size: 16px;

    max-width: 312px;
  }
}

@media screen and (min-width: 1280px) {
  .about-hotel {
    .container {
      height: 1275px;
    }
  }

  .about-hotel__text {
    width: 518px;
  }

  .about-hotel__first-img {
    width: 460px;
    height: 574px;
    left: 180px;
  }

  .about-hotel__position-box {
    column-gap: 32px;
    right: 85px;
  }

  .about-hotel__second-img {
    width: 460px;
    height: 574px;
  }

  .about-hotel__second-img-text {
    margin-bottom: 119px;
  }
}
