.details-rest {
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  position: relative;

  max-width: 414px;
  height: 735px;

  box-shadow: (0px -4px 4px rgba(0, 0, 0, 0.25)),
    (0px 4px 4px rgba(0, 0, 0, 0.25));

  .container {
    padding-top: 24px;
    padding-left: 140px;
  }

  .section-logo {
    margin-bottom: 12px;

    color: var(--text-color-white);
  }

  .primary-buttons {
    position: absolute;
    bottom: 40px;
    left: 89px;
  }

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.65),
      rgba(0, 0, 0, 0.65)
    ),
    url(/src/images/main/main_det_rest/main_det_rest_mob_back_414_1x.jpg);
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 1023.98px),
  screen and (min-resolution: 192dpi) and (max-width: 1023.98px),
  screen and (min-resolution: 2dppx) and (max-width: 1023.98px) {
  .details-rest {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.65),
        rgba(0, 0, 0, 0.65)
      ),
      url(/src/images/main/main_det_rest/main_det_rest_mob_back_414_2x.jpg);
  }
}

.details-rest__title {
  margin-bottom: 20px;

  color: var(--text-color-white);
  font-size: 20px;
  line-height: 1.2;
}

.details-rest__text {
  margin-bottom: 48px;

  font-size: 12px;
  color: #bababa;
}

@media screen and (min-width: 1024px) {
  .details-rest {
    height: 620px;
    max-width: 1024px;

    .container {
      padding-top: 48px;
      padding-left: 312px;
    }

    .section-logo {
      margin-bottom: 16px;

      font-size: 64px;
      line-height: 1.08;
    }

    .primary-buttons {
      bottom: 96px;
      left: 47px;
    }

    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.76),
        rgba(0, 0, 0, 0.76)
      ),
      url(/src/images/main/main_det_rest/main_det_rest_tab_back_1024_1x.jpg);
  }

  @media screen and (min-device-pixel-ratio: 2) and (min-width: 1024px),
    screen and (min-resolution: 192dpi) and (min-width: 1024px),
    screen and (min-resolution: 2dppx) and (min-width: 1024px) {
    .details-rest {
      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.76),
          rgba(0, 0, 0, 0.76)
        ),
        url(/src/images/main/main_det_rest/main_det_rest_tab_back_1024_2x.jpg);
    }
  }

  .details-rest__title {
    margin-bottom: 8px;

    font-size: 24px;
    line-height: 1.2;
  }

  .details-rest__text {
    margin-bottom: 40px;

    font-size: 16px;
    line-height: 1.25;
    width: 610px;
  }
}

@media screen and (min-width: 1280px) {
  .details-rest {
    max-width: 1280px;
    background-size: cover;

    .container {
      padding-left: 353px;
    }

    .primary-buttons {
      bottom: 94px;
      left: 85px;
    }

    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.65),
        rgba(0, 0, 0, 0.65)
      ),
      url(/src/images/main/main_det_rest/main_det_rest_desk_back_1280_1x.jpg);
  }

  @media screen and (min-device-pixel-ratio: 2) and (min-width: 1280px),
    screen and (min-resolution: 192dpi) and (min-width: 1280px),
    screen and (min-resolution: 2dppx) and (min-width: 1280px) {
    .details-rest {
      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.65),
          rgba(0, 0, 0, 0.65)
        ),
        url(/src/images/main/main_det_rest/main_det_rest_desk_back_1280_2x.jpg);
    }
  }
}

//---------- SLIDER ------------

.details-rest__slider {
  overflow: hidden;
  position: absolute;
  width: 374px;
  left: 40px;
  bottom: 184px;

  .swiper-slide-details-rest {
    height: 270px !important;
    width: auto;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .swiper-button-left.swiper-button-disabled,
  .swiper-button-right.swiper-button-disabled {
    opacity: 0.35;
    cursor: auto;
    pointer-events: none;
  }

  .swiper-buttons {
    padding: 0px;
    margin-top: 16px;

    background: none;
    border: none;

    &:hover .details-rest-icon,
    &:focus .details-rest-icon {
      fill: var(--accent-color);
    }
  }

  .swiper-button-left {
    margin-right: 33px;
  }

  .details-rest-icon {
    background: none;
    fill: #ffffff;

    transition: fill var(--animation);
  }
}

@media screen and (min-width: 1024px) {
  .details-rest__slider {
    width: 662px;
    left: 312px;
    bottom: 40px;
  }
}

@media screen and (min-width: 1280px) {
  .details-rest__slider {
    width: 878px;
    left: 354px;
  }
}
