.details-hotel {
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  position: relative;

  max-width: 414px;
  height: 735px;

  box-shadow: (0px -4px 4px rgba(0, 0, 0, 0.25)),
    (0px 4px 4px rgba(0, 0, 0, 0.25));

  .container {
    padding-right: 130px;
    padding-top: 24px;
  }

  .section-logo {
    color: var(--text-color-white);
    margin-left: auto;
    margin-bottom: 12px;
  }

  .primary-buttons {
    position: absolute;
    right: 89px;
    bottom: 40px;
  }

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.65),
      rgba(0, 0, 0, 0.65)
    ),
    url(/src/images/main/main_det_hotel/main_det_hotel_mob_back_414_1x.jpg);
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 1023.98px),
  screen and (min-resolution: 192dpi) and (max-width: 1023.98px),
  screen and (min-resolution: 2dppx) and (max-width: 1023.98px) {
  .details-hotel {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.65),
        rgba(0, 0, 0, 0.65)
      ),
      url(/src/images/main/main_det_hotel/main_det_hotel_mob_back_414_2x.jpg);
  }
}

.details-hotel__title {
  margin-left: auto;
  margin-bottom: 20px;
  width: 73px;

  color: var(--text-color-white);
  font-size: 20px;
  line-height: 1.2;
}

.details-hotel__text {
  margin-left: auto;
  width: 235px;

  font-size: 12px;
  color: #bababa;
}

@media screen and (min-width: 1024px) {
  .details-hotel {
    height: 620px;
    max-width: 1024px;

    .container {
      padding-top: 48px;
      padding-right: 315px;
    }

    .section-logo {
      margin-bottom: 16px;

      font-size: 64px;
      line-height: 1.08;
    }

    .primary-buttons {
      right: 47px;
      bottom: 100px;
    }

    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.65),
        rgba(0, 0, 0, 0.65)
      ),
      url(/src/images/main/main_det_hotel/main_det_hotel_tab_back_1024_1x.jpg);
  }

  @media screen and (min-device-pixel-ratio: 2) and (min-width: 1024px),
    screen and (min-resolution: 192dpi) and (min-width: 1024px),
    screen and (min-resolution: 2dppx) and (min-width: 1024px) {
    .details-hotel {
      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.65),
          rgba(0, 0, 0, 0.65)
        ),
        url(/src/images/main/main_det_hotel/main_det_hotel_tab_back_1024_2x.jpg);
    }
  }

  .details-hotel__title {
    margin-bottom: 8px;
    width: 88px;

    font-size: 24px;
  }

  .details-hotel__text {
    width: 545px;

    font-size: 16px;
  }
}

@media screen and (min-width: 1280px) {
  .details-hotel {
    max-width: 1280px;

    .container {
      padding-right: 354px;
    }

    .primary-buttons {
      right: 90px;
    }

    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.65),
        rgba(0, 0, 0, 0.65)
      ),
      url(/src/images/main/main_det_hotel/main_det_hotel_desk_back_1280_1x.jpg);
  }

  @media screen and (min-device-pixel-ratio: 2) and (min-width: 1280px),
    screen and (min-resolution: 192dpi) and (min-width: 1280px),
    screen and (min-resolution: 2dppx) and (min-width: 1280px) {
    .details-hotel {
      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.65),
          rgba(0, 0, 0, 0.65)
        ),
        url(/src/images/main/main_det_hotel/main_det_hotel_desk_back_1280_2x.jpg);
    }
  }
}

//---------- SLIDER ------------

.details-hotel__slider {
  position: absolute;
  width: 374px;
  right: 40px;
  top: 233px;
  overflow: hidden;

  .swiper-details-hotel {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .swiper-slide-details-hotel {
    height: 270px !important;
    width: auto;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .swiper-button-left.swiper-button-disabled,
  .swiper-button-right.swiper-button-disabled {
    opacity: 0.35;
    cursor: auto;
    pointer-events: none;
  }

  .swiper-buttons {
    padding: 0px;
    margin-top: 16px;

    background: none;
    border: none;

    &:hover .details-hotel-icon,
    &:focus .details-hotel-icon {
      fill: var(--accent-color);
    }
  }

  .swiper-button-left {
    margin-right: 25px;
  }

  .details-hotel-icon {
    background: none;
    fill: #ffffff;

    transition: fill var(--animation);
  }
}

@media screen and (min-width: 1024px) {
  .details-hotel__slider {
    width: 662px;
    right: 315px;
    top: 254px;
  }
}

@media screen and (min-width: 1280px) {
  .details-hotel__slider {
    width: 874px;
    right: 354px;
    top: 254px;
  }
}
