.menu {
  background-color: var(--secondary-bg-color);
  padding-top: 32px;
  padding-bottom: 32px;
  max-width: 414px;
  margin-left: auto;
  margin-right: auto;

  .secondary-button {
    margin-left: auto;
    margin-right: auto;
    margin-top: 32px;
  }
}

.menu-title {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 32px;

  font-family: var(--secondary-font);
  font-size: 32px;
  line-height: 1.15;
  font-weight: 700;
}

.menu__table {
  border-collapse: collapse;
  margin-bottom: 16px;

  td {
    padding-bottom: 8px;
    margin-bottom: 8px;
  }
}

.menu__caption-table {
  margin-bottom: 16px;
  text-align: start;

  font-size: 20px;
  line-height: 1.15;
  font-weight: 700;
  font-family: var(--secondary-font);
}

.menu__food-name {
  font-size: 14px;
  line-height: 1.2;
  text-align: start;
  font-weight: 500;
  width: 221px;
}

.menu__list-composition {
  font-size: 10px;
  line-height: 1.2;
  font-weight: 400;
}

.menu__food-massa {
  text-align: center;
  width: 99px;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 300;
}

.menu__food-price {
  text-align: end;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  width: 65px;
}

@media screen and (min-width: 1024px) {
  .menu {
    max-width: 1024px;
  }

  .menu-title {
    margin-bottom: 40px;
    text-align: start;
  }

  .menu__tables-box {
    display: flex;
    justify-content: space-between;
  }

  .menu__position-table-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .menu__list-composition {
    width: 225px;
  }

  .menu__food-massa {
    width: 79px;
  }

  .menu__food-price {
    width: 107px;
  }
}

@media screen and (min-width: 1280px) {
  .menu {
    padding-top: 58px;
    padding-bottom: 60px;
    max-width: 1280px;
  }

  .menu__tables-box {
    display: flex;
    justify-content: space-between;
  }

  .menu__position-table-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .menu__table {
    td {
      padding-bottom: 11px;
    }
  }

  .menu__caption-table {
    font-size: 24px;
    line-height: 1.17;
  }

  .menu__food-name {
    width: 291px;
    font-size: 16px;
    line-height: 1.25;
  }

  .menu__list-composition {
    width: 291px;
  }

  .menu__food-massa {
    width: 164px;
  }

  .menu__food-price {
    width: 72px;
    font-size: 16px;
    line-height: 1.25;
  }
}
