<div class="table-modal__backdrop is-hidden" data-modal-table>
  <div class="table-modal">
    <button type="button" class="table-modal__close-btn" data-modal-close-table>
      <svg class="table-modal__close-btn-icon">
        <use href="./images/icons.svg#icon-close"></use>
      </svg>
    </button>

    <h2 class="table-modal__title">забронювати столик</h2>

    <form class="table-modal__form" name="reservation">
      <div class="table-modal__form-item">
        <label class="table-modal__form-field">
          На кого забронювати столик?
        </label>

        <input
          name="name"
          class="room-modal__form-input"
          type="text"
          pattern="^[a-zA-Zа-яА-ЯїЇ]+\s[a-zA-Zа-яА-ЯїЇ]+$"
          title="прізвище та Ім'я"
          placeholder="Прізвище Ім'я"
          required
          minlength="2"
        />
      </div>

      <div class="table-modal__form-item">
        <label class="table-modal__form-field"> Номер телефону </label>

        <input
          name="phone"
          id="phone"
          class="room-modal__form-input"
          type="tel"
          pattern="[0-9]{10}"
          placeholder="066 666 66 66"
          required
        />
      </div>

      <div class="table-modal__form-item">
        <label class="table-modal__form-field">
          Столик на яку кількість осіб?
        </label>

        <div class="table-modal__position-icon-box">
          <select
            class="table-modal__form-input table-modal__form-input-option"
            name="individuals"
          >
            <option class="option-item" value="1">1</option>
            <option class="option-item" value="2" selected>2</option>
            <option class="option-item" value="3">3</option>
            <option class="option-item" value="4">4</option>
            <option class="option-item" value="5">5</option>
            <option class="option-item" value="6">6</option>
            <option class="option-item" value="7">7</option>
            <option class="option-item" value="8">8</option>
            <option class="option-item" value="9">9</option>
          </select>

          <svg class="table-modal__form-icon" width="24" height="24">
            <use href="./images/icons.svg#icon-arrow-down"></use>
          </svg>
        </div>
      </div>

      <div class="table-modal__form-item">
        <label class="table-modal__form-field"> На яку дату бронювати? </label>

        <div class="table-modal__position-icon-box">
          <input
            data-user-rest
            class="table-modal__form-input table-modal__form-input-option"
            name="data-order"
            placeholder="00.00.0000 00:00"
          ></input>

          <svg class="table-modal__form-icon" width="24" height="24">
            <use href="./images/icons.svg#icon-arrow-down"></use>
          </svg>
        </div>
      </div>

      <button class="modal-window__buttons" type="submit">
        Оформити бронювання
      </button>
    </form>
  </div>
</div>
